<template name="layout">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48253401-1', 'thebuywall.com');
  ga('send', 'pageview');
</script>
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:700,700italic,600italic,600' rel='stylesheet' type='text/css'>
  <style>
    {{#if backgroundColor}}
      body{
        background-color: {{backgroundColor}};
      }
    {{/if}}
    {{#if buttonColor}}
      input[type="submit"], button, .button, .auth-buttons #login-buttons #login-buttons-password, .btn, .error{
        background-color: {{buttonColor}};
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i{
        color: {{buttonColor}};
      }
    {{/if}}
    {{#if secondaryColor}}
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        color: {{secondaryColor}};
      }
    {{/if}}
    {{#if headerColor}}
      .header{
        background-color: {{headerColor}};
      }
    {{/if}}
  </style>
  <div class="outer-wrapper {{currentPage}}">
    {{> mobile_nav}}
    <div class="content-wrapper template-{{pageName}}">
      {{> nav}}
      {{> error}}
      {{yield}}
      {{> notifications}}
      {{> footer}}
      <div class="overlay hidden"></div>
    </div>
    {{{extraCode}}}
  </div>
</template>